<div class="container mt-5">
    <h2 class="text-center">Lista de tareas</h2>
    <ul class="list-group w-50 mx-auto">
        @for (tarea of tareas; track tarea) {
            <li class="list-group-item text-center">
                {{tarea}}
            </li>
        }
    </ul>
    <div class="mt-3 d-flex justify-content-center">
        <input type="text" #tarea class="form-control mb-2 w-50" placeholder="Escriba la nueva tarea...">
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3" (click)="agregarTarea(tarea.value);tarea.value=''">
            Agregar Tarea
        </button>
    </div>
</div>
